<h1>Editing core strength class</h1>

<%= render "form", core_strength_class: @core_strength_class %>

<br>

<div>
  <%= link_to "Show this core strength class", @core_strength_class %> |
  <%= link_to "Back to core strength classes", core_strength_classes_path %>
</div>
